<h4>This is a static or template driven form </h4>
<form #loginForm="ngForm" (submit)="personalForm(loginForm)">
 <div>
    <label>First Name:</label>
    <input type="text" [(ngModel)]="firstname" name="firstname" minlength="5" required />
 </div>
 <div>
    <label>Last Name:</label>
    <input type="text" [(ngModel)]="lastname" name="lastname" required />
 </div>
 <div>
    <label>City:</label>
    <select aria-label="label for the select" [(ngModel)]="city" name="city" required>
        <option value="" selected>Please Select</option>
        <option *ngFor="let city of cities" [value]="city | lowercase">{{city}}</option>
    </select>
 </div>
 <div>
    <label>Gender:</label>
    <div>
        Male: <input type="radio" name="gender" value="Male" [(ngModel)]="gender" />
        Female: <input type="radio" name="gender" value="Female" [(ngModel)]="gender"/>
    </div>
 </div>
 <div>
    <label>Accept terms and conditions:</label>
     <input aria-label="termsandconditions" type="checkbox" name="terms" [(ngModel)]="terms" required/>
 </div>
 <div>
    <button type="submit" [disabled]="loginForm.invalid">Submit</button>
    <button type="button" class="btn" (click)="resetForm(loginForm)">Reset Form</button>
    <button type="button" class="btn" (click)="setFormValue(loginForm)">Set Form Values</button>
 </div>
</form>